body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("../assets/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 16px;
  text-align: center;
  min-height: 15vh;
}

.main-2 {
  flex: 1;
  padding: 25px;
  border-radius: 20px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.8);
}

main {
  flex: 1;
  padding: 25px;
  border-radius: 20px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.8);
}

.page {
  display: none;
}

#home {
  display: block;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  font-family: 'Konkhmer Sleokchher', sans-serif;
  font-size: 1rem;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"] {
  padding: 10px;
  font-family: 'SfProRegular', sans-serif;
  color: grey;
  font-size: 0.9rem;
  width: auto;
  border-radius: 10px;
  border-color: var(--cas-theme-primary, #000000);
}

button {
  padding: 5px 15px;
  margin-top: 2px;
  font-size: 0.9rem;
  background-color:#000000;
  border-radius: 10px;
  font-family: 'Konkhmer Sleokchher', sans-serif;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

#studentInfo {
  margin-top: 20px;
  font-size: 1rem;
  font-family: 'SfProRegular', sans-serif;
  border-radius: 30px;
  color: rgba(0, 0, 0); /* Adjust the text opacity as needed */
  background-color: rgba(255, 255, 255); /* Adjust the background opacity as needed */
  padding: 10px;
}

footer {
  background-color: rgba(0, 0, 0);
  font-family: 'Geologica', sans-serif;
  font-size: 0.8rem;
  color: #ffffff;
  padding: 4px;
  text-align: center;
  border-radius: 10px;
}

#caixa-qr-code-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

#caixa-qr-code {
  height: 150px;
  border-radius: 20px;
  width: auto;
  margin-top: 5px;
  margin-bottom: 10px;
}

h1 {
  font-family: 'Konkhmer Sleokchher', sans-serif;
  font-size: 2.2rem;
  margin-top: auto;
  margin-bottom: -10px;
  color:#000000;
  padding: 2px;
  font-weight: bold;
}

h2 {
  font-family: 'Konkhmer Sleokchher', sans-serif;
  font-size: 1.3rem;
  margin-top: 0px;
  margin-bottom: 20px;
  color:#000000;
  padding: 5px;
}

h4 {
  text-align: center;
  color:#000000;
  font-family: 'Geologica', sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 2px;
  background-color: rgba(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
}  

h5 {
  text-align: center;
  color:#000000;
  font-family: 'Konkhmer Sleokchher', sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 4px;
  background-color: rgba(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
}

#adenilson-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  width: auto;
}

#adenilson-img img {
  max-height: 90%;
  max-width: 90%;
  object-fit: contain;
}

@font-face {
  font-family: 'SfProRegular';
  src: url("../assets/fonts/Sf-pro-regular.ttf") format('truetype');
}

.rescheduled {
  color: red;
  animation: glow 0.8s ease-in-out infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 11px red;
  }
  100% {
    text-shadow: 0 0 10px red;
  }
}

.nav ul {
  list-style: none;
  text-align: center;
  font-weight: bold;
  border-radius: 30px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* Align the menu items horizontally to the center */
}

.nav li {
  font-family: 'Oswald', sans-serif;
  color: black;
  font-size: 0.9rem; /* Adjust the font size to make the menu smaller */
  line-height: 30px; /* Adjust the line height to make the menu smaller */
  height: auto; /* Adjust the height to make the menu smaller */
  border-radius: 30px;
}

.nav a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 5px;
  transition: .3s background-color;
  border-radius: 20px;
}

.nav a:hover {
  background-color: rgba(0, 0, 0);
  color: white;
  padding: 5px;
  border-radius: 20px;
}

.nav a.active {
  background-color: rgba(255, 255, 255);
  margin-left: 2px;
  color: black;
  border-radius: 20px;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 100px; /* Adjust the width to make the menu smaller */
    border-bottom: none;
    border-radius: 30px;
    height: 40px; /* Adjust the height to make the menu smaller */
    line-height: 40px; /* Adjust the line height to make the menu smaller */
    font-size: 1.2em; /* Adjust the font size to make the menu smaller */
  }

  .nav ul {
    overflow: visible;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }

  .nav {
    border-radius: 2px;
    padding: 10px;
    height: 40px; /* Adjust the height to make the menu smaller */
    width: auto;
    display: flex;
    justify-content: center; /* Align the menu horizontally to the center */
  }
}

#birthdayBox {
  margin-bottom: 10px;
}

#birthdayBox label {
  font-weight: bold;
}

#birthdayBox input[type="date"] {
  padding: 10px;
  font-family: 'SfProRegular', sans-serif;
  color: grey;
  font-size: 0.9rem;
  width: auto;
  border-radius: 10px;
  border-color: var(--cas-theme-primary, #000000);
}

/* Coming soon */

#coming-soon-img {
  height: 140px;
  width: auto;
}

#whatsapp-img {
  height: 40px;
  width: auto;
  border-radius: 5px;
}

/* <em> makes the text italic and red */
em {
  font-style: italic;
  color: red;
}

/* <sub> makes the text grey and italic */
sub {
  color: rgb(88, 88, 88);
}

/* the "trouble connecting" text-link */

.link-stuff {
  color: #6e96d5;
  font-family: 'SfProRegular', sans-serif;
  font-size: 0.9rem;
  text-decoration: none;
}

.link-stuff:hover {
  text-decoration: underline;
  color: #4129ca;;
}

/* the end of the "trouble connectig" text-link */

.glow-button {
  display: inline-block;
  padding: 5px;
  height: 40px;
  width: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0); /* Set initial box shadow with no glow effect */
  background-color: #ffffff;
  transition: box-shadow 0.3s ease-in-out; /* Add a smooth transition effect */
}

.glow-button:hover {
  box-shadow: 0 0 15px rgba(23, 184, 68, 0.87);
  background-color: #ffffff; /* Customize the color and intensity of the glow effect when hovered */
}

.video-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  max-width: auto;
  max-height: 40vh;
}

.video-container video {
  max-width: 50%;
  border-radius: 20px;
  max-height: 75%;
  object-fit: contain;
}

#closeVideoButton {
  position: absolute;
  font-family: 'Konkhmer Sleokchher', sans-serif;
  font-size: 0.8rem;
  display: flex;
  justify-content: right;
  align-items: right;
  top: -35px;
  right: -5px;
}

/* glowing of the what students are saying */

.top-button {
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  padding: 5px;
  animation: glow 0.4s ease-in-out infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 15px rgb(76, 0, 255);
  }
  100% {
    text-shadow: 0 0 15px rgb(76, 0, 255);
  }
}